
/* Centralizar valores reutilizables del diseño. */
/* Definir materiales (colores, tamaños) */
:root {
  /* Colores */
  --color-red-start: #B34747;
  --color-red: #FC6767; /* Rojo - botones, status crítico */

  --color-yellow: #FACC15; /* Amarillo - status riesgo */
  --color-yellow-end: #E8E338;

  --color-green-start: #14B8A6; /* Verde - color principal marca */
  --color-green-end: #6EE7B7;

  --color-blue: #1F3A8A; /* Azul - color secundario marca */
  --color-blue-end: #1E4F9C;

  --color-green: #12D439; /* Verde - status bueno */
  
  --color-text-secundary: #C6C6C6; /* Texto secundario */
  --color-gray: #A3A3A3; /* Gris - texto secundario */

  /* Colores Pie Chart */
--color-pie-1: #6EE7B7;
--color-pie-2: #34D399;
--color-pie-3: #14B8A6;
--color-pie-4: #0D9488;
--color-pie-5: #059669;
--color-pie-6: #047857;
--color-pie-7: #065F46;
--color-pie-8: #1F3A8A;
--color-pie-9: #1E40AF;
--color-pie-10: #1E3A8A;

  /* Gradientes */
  --gradient-primary-green: linear-gradient(180deg, var(--color-green-start) 0%, var(--color-green-end) 74%); /* Verde - color principal marca */
  --gradient-primary-yellow: linear-gradient(180deg, var(--color-yellow) 0%, var(--color-yellow-end) 74%);
  --gradient-primary-red: linear-gradient(180deg, var(--color-red-start) 0%, var(--color-red) 100%);
  --gradient-primary-blue: linear-gradient(180deg, var(--color-blue) 0%, var(--color-blue-end) 54%);

  /* Angulos colores */
  --gradient-primary-green-horizontal: linear-gradient(90deg, #14B8A6 0%, #6EE7B7 73%);
  --gradient-primary-green-diagonal: linear-gradient(135deg, #14B8A6 0%, #6EE7B7 73%);

  --gradient-primary-yellow-horizontal: linear-gradient(90deg, var(--color-yellow) 0%, var(--color-yellow-end) 74%);
  --gradient-primary-yellow-diagonal: linear-gradient(135deg, var(--color-yellow) 0%, var(--color-yellow-end) 74%);

  --gradient-primary-red-horizontal: linear-gradient(90deg, var(--color-red-start) 0%, var(--color-red) 100%);
  --gradient-primary-red-diagonal: linear-gradient(135deg, var(--color-red-start) 0%, var(--color-red) 100%);

  /* Tipografía */
  --font-primary: 'Fredoka', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600; 
  --font-weight-bold: 700;

  /* Espaciados */
  --spacing-sm: 8px;
  --spacing-md: 16px;

  /* Bordes */
  --radius-md: 8px;
}

